input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 50000s ease-in-out 0s, color 5000s ease-in-out 0s;
}

.form-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

._alert {
    position: absolute; 
    width: 100%; 
    top:0; 
    display: flex; 
    justify-content: space-between;
}



.input-header {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    width: 100%;
    margin-bottom: 5px;
}
.auth-form {
    /* background: linear-gradient(130deg, rgba(0, 183, 255, 0.226), white); */
    min-width: 450px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    padding: 50px;
    border-radius: 10px;
}
.btn-close {
    background-color: transparent;
}
.form-control {
    border-radius: 10px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
.forgot-password-link {
    cursor: pointer;
}

.btn-submit {
    width: 100%;
    border-radius: 20px;
    background: linear-gradient(to right, rgb(187, 0, 187), rgb(0, 0, 219));
    font-weight: bold;
}

.error-color {
    color: red;
}