.news-layout {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}
.news-header{
    z-index: 100;
    flex: 0 0;
    position: sticky;
    top: 0;
}
.news-content {
    flex: 0 0;
    height: 100%;
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;
}

.active_ {
    background-color: #0d6efd;
}

.btn:focus {
    outline: none;
    box-shadow: none;
    }

.btn-style {
    color: white;
}
