.page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100% !important;
}

.header-wrapper {
    flex: 0 1;
}

.body-wrapper {
    position:relative;
    flex: 1 0;
    display: flex;
    height: calc(100% - 56px);
}

.content {
    position: relative;
    flex: 1 0;
    justify-self: center;
    height: 100% !important;
}

.side-bar {
    height: 100% !important;
}