* {
    z-index: 0;
}

.page-wrapper {
    height: 100%;
    max-width: 2000px;

    margin: auto;
}

.header-wrapper {
    flex: 0 1;
}

.body-wrapper {
    flex: 1 0;

    position:relative;
    display: flex;

    height: calc(100% - 56px);
}

.content {
    flex: 1 0;

    position: relative;
    justify-self: center;
    height: 100%;
}

.side-bar {
    height: 100%;
}