<nav class="navbar navbar-expand-lg navbar-light bg-light nav-color">
    <div class="container-fluid">
        <a class="navbar-brand ms-3 logo" routerLink="" *ngIf="!isLoggedIn">LAK-FINANCE</a>
        <a class="navbar-brand ms-3 logo" *ngIf="isLoggedIn">LAK-FINANCE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto me-3">
                <li class="nav-item pe-2" *ngIf="!isLoggedIn">
                    <button class="btn-auth btn btn-primary" id="signin" (click)="toAuthPage('login')">Sign in</button>
                </li>
                <li class="nav-item" *ngIf="!isLoggedIn">
                    <button class="btn-auth btn btn-primary" id="signup" (click)="toAuthPage('signup')">Create
                        account</button>
                </li>
            </ul>
        </div>
    </div>
</nav>