.btn-auth {
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    background: #00a184;
    color: white;
    border-color: #00a184;
}

.nav-personal {
    /* background-color: red !important; */
}

.logo {
    color: white !important;
    font-weight: bold;
}
.nav-color {
    background-color: #24303E !important;
}